<p-toast position="top-right"></p-toast>
<div class="loading-indicator" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>
<div class="my-2">
    <h5>Add Category</h5>
    <form [formGroup]="addCategoryForm" method="post">
        <div>
            <input class="" type="text" placeholder="Enter Category Name" formControlName="category" />
            <input class="mx-3" type="submit" value="Add" (click)="addCategory()" />
        </div>
    </form>
</div>

<div class="product card">
    <p-table #dt [value]="unapprovedProducts" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedProduct"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Products</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="pname">Name </th>
                <th pSortableColumn="ppriceRange" style="min-width:inherit">Price </th>
                <th pSortableColumn="category">Category </th>
                <th pSortableColumn="quantity">Quantity </th>
                <th>Action </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.pname}}</td>
                <td>{{product.ppriceRange }}</td>
                <td>{{product.category}}</td>
                <td>{{product.quantity}}</td>
                <td><button pButton type="button" class="p-button-info" (click)="viewProduct(product.pid)">View
                        Details</button></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{unapprovedProducts ? unapprovedProducts.length : 0 }} unapproved products.
            </div>
        </ng-template>
    </p-table>
</div>

<div class="supplier card my-2">
    <p-table #dt [value]="unapprovedSuppliers" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedProduct"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Suppliers</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="firstName">Name </th>
                <th pSortableColumn="firmName">Firm Name </th>
                <th pSortableColumn="mobileNumber">Phone Number </th>
                <th pSortableColumn="city">City </th>
                <th>Action </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.firmName }}</td>
                <td>{{user.mobileNumber}}</td>
                <td>{{user.city}}</td>
                <td><button pButton type="button" class="p-button-info" (click)="viewSupplier(user.userId)">View
                        Details</button></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{unapprovedSuppliers ? unapprovedSuppliers.length : 0 }} unapproved suppliers.
            </div>
        </ng-template>
    </p-table>
</div>


<!-- <div *ngIf="productDialog"> -->
    <app-details-dialog *ngIf="productDialog" [prodId]="prodId"
    [display]="showPopup" (messageEvent)="receiveMessage($event)" (resetDisplayFlag)="changePopupFlag($event)" >
  </app-details-dialog>
<!-- </div> -->


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
