*{margin: 0; padding: 0;}
img { display: block; max-width: 100%;}
.container { max-width: 90%; width: 100%; margin: 0 auto; }

.headbox { display: flex; justify-content: space-between; align-items: center; }
.logo {  }
.navbox ul { display: flex; }
.navbox ul li { list-style: none; }
.navbox ul li a { text-decoration: none; padding: 5px 10px; color: #000; }
.navbox ul li a:hover { color: red;}
.boxMain { border: 1px solid #ccc; border-top-left-radius: 8px; }

.box1 { overflow: hidden;}
.box1 img { transition: 0.5s all; }
.box1 img:hover { transform: scale(1.1); }
.product1{display: flex;}


.navcategory ul { display: flex;  }
.navcategory ul li { list-style: none; }
.navcategory ul li a { text-decoration: none; padding: 5px 10px; color: #363d43; }
.navcategory ul li a:hover { color:#0076d7;}
.categorymain{padding: 0px 10px; margin-top: 3rem; height: 48px;}