<app-header></app-header>

<section class="sliderBox mt-3">
  <div class="slidermain owl-carousel owl-theme">
    <div class="item"><img src="../../../assets/Images/1.jpg" alt="image" /></div>
    <div class="item"><img src="../../../assets/images/2.jpg" alt="image" /></div>
    <div class="item"><img src="../../../assets/images/3.jpg" alt="image" /></div>
    <div class="item"><img src="../../../assets/images/4.jpg" alt="image" /></div>
  </div>
</section>  

<section class="homecard p-3">
  <h2 class="font1-3rem ps-2">Industry Markets</h2>
  <div class="d-xl-inline-flex d-lg-inline-flex d-md-inline-block d-sm-inline-block w-100">
	<a href="#" class="marketCard d-inline-flex flex-column text-center px-2">
	  <div class="marketCardimg overflow-hidden">
		  <img src="../../../assets/images/img1.jpg" alt="image" />  
	  </div>
	  <div class="colordark font15 mt-2">Healthcare Medical</div>
	</a>
	  
	<a href="#" class="marketCard d-inline-flex flex-column text-center px-2">
	  <div class="marketCardimg overflow-hidden">
		  <img src="../../../assets/images/img1.jpg" alt="image" />  
	  </div>
	  <div class="colordark font15 mt-2">Electrical Equipments</div>
	</a>
	  
	<a href="#" class="marketCard d-inline-flex flex-column text-center px-2">
	  <div class="marketCardimg overflow-hidden">
		  <img src="../../../assets/images/img1.jpg" alt="image" />  
	  </div>
	  <div class="colordark font15 mt-2">Healthcare Medical</div>
	</a>
	  
	<a href="#" class="marketCard d-inline-flex flex-column text-center px-2">
	  <div class="marketCardimg overflow-hidden">
		  <img src="../../../assets/images/img1.jpg" alt="image" />  
	  </div>
	  <div class="colordark font15 mt-2">Electrical Equipments</div>
	</a>
	  
	<a href="#" class="marketCard d-inline-flex flex-column text-center px-2">
	  <div class="marketCardimg overflow-hidden">
		  <img src="../../../assets/images/img1.jpg" alt="image" />  
	  </div>
	  <div class="colordark font15 mt-2">Healthcare Medical</div>
	</a>
	  
	<a href="#" class="marketCard d-inline-flex flex-column text-center px-2">
	  <div class="marketCardimg overflow-hidden">
		  <img src="../../../assets/images/img1.jpg" alt="image" />  
	  </div>
	  <div class="colordark font15 mt-2">Healthcare Medical</div>
	</a>
	  
	<a href="#" class="marketCard d-inline-flex flex-column text-center px-2">
	  <div class="marketCardimg overflow-hidden">
		  <img src="../../../assets/images/img1.jpg" alt="image" />  
	  </div>
	  <div class="colordark font15 mt-2">Electrical Equipments</div>
	</a>
	  
	<a href="#" class="marketCard d-inline-flex flex-column text-center px-2">
	  <div class="marketCardimg overflow-hidden">
		  <img src="../../../assets/images/img1.jpg" alt="image" />  
	  </div>
	  <div class="colordark font15 mt-2">Healthcare Medical</div>
	</a>
	  
	<a href="#" class="marketCard d-inline-flex flex-column text-center px-2">
	  <div class="marketCardimg overflow-hidden">
		  <img src="../../../assets/images/img1.jpg" alt="image" />  
	  </div>
	  <div class="colordark font15 mt-2">Electrical Equipments</div>
	</a>
	  
	<a href="#" class="marketCard d-inline-flex flex-column text-center px-2">
	  <div class="marketCardimg overflow-hidden">
		  <img src="../../../assets/images/img1.jpg" alt="image" />  
	  </div>
	  <div class="colordark font15 mt-2">Healthcare Medical</div>
	</a>
  </div>
</section>

<app-footer></app-footer>