<app-header></app-header>

<!-- Carousel Start -->
<p-carousel [value]="images" [numVisible]="1" [circular]="true" [autoplayInterval]="5000">
  <ng-template let-image pTemplate="item">
      <img [src]="'data:image/jpg;base64,' +image.image" alt="{{image.alt}}" width="100%" height="200px" (click)="onBannerClick(image)">
  </ng-template>
</p-carousel>
<!-- Carousel End -->


<!-- Industry Market Section Start -->
<div class="body3image">
  <h2 className='text-uppercase text-center fs-3 pb-3 fw-bold'>Industry Market</h2>
  <div class="producttop">
    <div class="product2" *ngFor="let category of categories?.slice(0,numCategoryToShow)"
    [ngClass]="{'col-lg-2 col-md-3': numCategoryToShow == 9,
                'col-lg-3 col-md-4': numCategoryToShow == 7,
                'col-lg-4 col-md-6': numCategoryToShow == 5,
                'col-lg-6 col-md-12': numCategoryToShow == 4}">
      <div class="box1">
        <img src={{category.img}} class="d-block w-100" alt="image" height="100px" width="100px" />
      </div>
      <div class="box2">
        <h5>{{category.name}}</h5>
      </div>
    </div>
  </div>
</div>
<!-- Industry Market Section End -->

<!-- categories wise product -->
<div *ngFor="let category of categories?.slice(0,5)">
<div class="body3image" *ngIf="prodMap.get(category.name)?.length>0">
  <div class="head">
    <h2 className='text-uppercase text-center fs-3 pb-3 fw-bold'>{{category.name}}</h2>
    <a href="#"> View All</a>
  </div>
  <div class="product1" >
    <div class="col-lg-4 col-md-6 col-sm-12 px-3 boxMain" *ngFor="let product of prodMap.get(category.name)?.slice(0,numProductsToShow)" 
    [ngClass]="{'col-lg-2 col-md-3': numProductsToShow == 6,
                'col-lg-3 col-md-4': numProductsToShow == 5,
                'col-lg-4 col-md-6': numProductsToShow == 4,
                'col-lg-6 col-md-12': numProductsToShow == 3}" [style.width]="cardWidth">
      <div class="box1" >
        <img [src]="'data:image/jpg;base64,' +product.pimage.imageOne"  height="200"
          [alt]=product.pname />
      </div>
      <div class="box2">
        {{product.pname}}
      </div>
    </div>
  </div>
</div>
</div>
<!-- categories wise product End -->

<!-- Post Requirement Start -->
<section class="mt-5">
  <h2 class="font1-3rem ps-2">REQUEST FOR QUOTATION</h2>
  <div class="w-100 mt-3">
	<img src="../../../../assets/Images/quotationimg.jpg" alt="image" />
  </div>
</section>
<!-- Post Requirement End -->

<div *ngFor="let category of categories?.slice(5,7)">
  <div class="body3image pt-5" *ngIf="prodMap.get(category.name)?.length>0">
    <div class="head">
      <h2 className='text-uppercase text-center fs-3 pb-3 fw-bold'>{{category.name}}</h2>
      <a href="#"> View All</a>
    </div>
    <div class="product1" >
      <div class="col-lg-2 px-3 boxMain" *ngFor="let product of prodMap.get(category.name)?.slice(0,6)" >
        <div class="box1" >
          <img [src]="'data:image/jpg;base64,' +product.pimage.imageOne"  height="200"
            [alt]=product.pname />
        </div>
        <div class="box2">
          {{product.pname}}
        </div>
      </div>
    </div>
  </div>
  </div>

 
<app-footer></app-footer>