<app-header></app-header>


<!-- <div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1>Tyre Mountain Cycle 21</h1>
            </div>
            <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <p class="text-right para">Based on 250 Review</p>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>
                    <li>100% Quality</li>
                    <li>Free Shipping</li>
                    <li>Easy Returns</li>
                    <li>12 Months Warranty</li>
                    <li>EMI Starting from (On Credit Cards)</li>
                    <li>Normal Delivery : 4-5 Days</li>
                    <li>Express Delivery : 2-3 Days</li>
                    <li>COD Available (All Over India)</li>
                </ul>
            </div>
            <div class="col-md-7"> <img src="https://assetscdn1.paytm.com/../../../../assets/Images/catalog/product/K/KI/KIDTORADO-MUSCUTORA65799297FD22C/1564571511644_0.jpg" width="90%" height="95%"> </div>
        </div>
    </div>
    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <div class="col-md-2 myt des"><a href="#">Description</a></div>
            <div class="col-md-2 myt "><a href="#">Review</a></div>
            <div class="col-md-2 mio offset-md-4"><a href="#">ADD TO CART</a></div>
            <div class="col-md-2 myt "><button type="button" class="btn btn-outline-warning"><a href="#">BUY NOW</a></button></div>
        </div>
    </div>
</div> -->

<div class="row">
<section class="pageContainer">
 <div class="prodMain d-lg-flex d-xl-flex d-md-flex d-sm-block">
  
  <div class="prodLeft">
  <div class="d-lg-flex d-xl-flex d-md-block d-sm-block catlistbg p-3">

  <div class="prodimg">
	<div class="prodItem">
	 <img class="proimgZoom" src="../../../../assets/Images/product1.png" alt="image" />
    </div>
    <div class="prodSlider mt-4">
      <div class="prodView owl-carousel owl-theme">
		  
        <div class="item"> 
		  <img src="../../../../assets/Images/product1.png" alt="image" />
		</div>
		  
        <div class="item"> 
		  <img src="../../../../assets/Images/product2.png" alt="image" />
		</div>
		  
        <div class="item"> 
		  <img src="../../../../assets/Images/product3.jpg" alt="image" />
		</div>
		  
        <div class="item"> 
		  <img src="../../../../assets/Images/product1.png" alt="image" />
		</div>
		  
        <div class="item"> 
		  <img src="../../../../assets/Images/product3.jpg" alt="image" />
		</div>
		  
        <div class="item"> 
		  <img src="../../../../assets/Images/product2.png" alt="image" />
		</div>
		
      </div>
</div>
  </div>
	  
  <div class="prodText">
	<div class="d-flex">
	  <h2 class="font1-5rem">Omron HEM 6161 Wrist Blood Pressure Monitor</h2>
	  <a href="#" class="ms-3 font1-2rem"><i class="bi bi-share"></i></a>
	</div>
	<div class="color006 font1-2rem weight600">Ask for price</div>
	<div class="colordark pt-3">
	 <h4 class="font1-2rem">Description</h4>  
	 <p>The HEM-6161 makes it easy to monitor blood pressure while on-the-go. This basic model comes with cuff wrap guide and irregular heartbeat detection to ensure the monitor is used correctly.</p>
	  <a href="#" class="btn btn-primary weight500">Get Best Price</a>
	</div>
	<div class="colordark pt-4">
	 <h4 class="font1-2rem">Specification</h4>  
	 <div class="d-flex border">
	  <div class="w-25 px-3 py-2 border-end">Brand</div>	
	  <div class="w-75 px-3 py-2">Omron</div>	
	 </div>
	</div>
  </div>
	  
  </div>
	  
  <section class="mt-5 proshopslider">
	 <h2 class="font1-3rem pb-3">MORE FROM THIS SELLER</h2>
	  
	 <div class="shpcatgsldr owl-carousel owl-theme">
		  
        <div class="item">
		<a href="#"> 
		  <div class="catlistbg p-3">
		  <a href="#">
		  <div class="catlistimg">
			<img src="../../../../assets/Images/product1.png" alt="product" />
		  </div>
		  <h4 class="colordark font15 weight500 mt-3">Infi Blood Pressure Monitor</h4>
		  </a>
			
		  <a href="#">
		  <div class="color707 font16 mt-3" data-bs-toggle="modal" data-bs-target="#allmodal">Request for Price</div>
		  </a>
		
		  <div class="mt-3">
		   <button class="w-100 btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#allmodal">Get Best Price</button>	
		  </div>
		  
		</div>
		</a>
		</div>
		
	    <div class="item">
		<a href="#"> 
		  <div class="catlistbg p-3">
		  <a href="#">
		  <div class="catlistimg">
			<img src="../../../../assets/Images/product1.png" alt="product" />
		  </div>
		  <h4 class="colordark font15 weight500 mt-3">Infi Blood Pressure Monitor</h4>
		  </a>
			
		  <a href="#">
		  <div class="color707 font16 mt-3" data-bs-toggle="modal" data-bs-target="#allmodal">Request for Price</div>
		  </a>
		
		  <div class="mt-3">
		   <button class="w-100 btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#allmodal">Get Best Price</button>	
		  </div>
		  
		</div>
		</a>
		</div>
		  
		<div class="item">
		<a href="#"> 
		  <div class="catlistbg p-3">
		  <a href="#">
		  <div class="catlistimg">
			<img src="../../../../assets/Images/product1.png" alt="product" />
		  </div>
		  <h4 class="colordark font15 weight500 mt-3">Infi Blood Pressure Monitor</h4>
		  </a>
			
		  <a href="#">
		  <div class="color707 font16 mt-3" data-bs-toggle="modal" data-bs-target="#allmodal">Request for Price</div>
		  </a>
		
		  <div class="mt-3">
		   <button class="w-100 btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#allmodal">Get Best Price</button>	
		  </div>
		  
		</div>
		</a>
		</div>
		 
		<div class="item">
		<a href="#"> 
		  <div class="catlistbg p-3">
		  <a href="#">
		  <div class="catlistimg">
			<img src="../../../../assets/Images/product1.png" alt="product" />
		  </div>
		  <h4 class="colordark font15 weight500 mt-3">Infi Blood Pressure Monitor</h4>
		  </a>
			
		  <a href="#">
		  <div class="color707 font16 mt-3" data-bs-toggle="modal" data-bs-target="#allmodal">Request for Price</div>
		  </a>
		
		  <div class="mt-3">
		   <button class="w-100 btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#allmodal">Get Best Price</button>	
		  </div>
		  
		</div>
		</a>
		</div>
		  
	    <div class="item">
		<a href="#"> 
		  <div class="catlistbg p-3">
		  <a href="#">
		  <div class="catlistimg">
			<img src="../../../../assets/Images/product1.png" alt="product" />
		  </div>
		  <h4 class="colordark font15 weight500 mt-3">Infi Blood Pressure Monitor</h4>
		  </a>
			
		  <a href="#">
		  <div class="color707 font16 mt-3" data-bs-toggle="modal" data-bs-target="#allmodal">Request for Price</div>
		  </a>
		
		  <div class="mt-3">
		   <button class="w-100 btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#allmodal">Get Best Price</button>	
		  </div>
		  
		</div>
		</a>
		</div>
		  
		<div class="item">
		<a href="#"> 
		  <div class="catlistbg p-3">
		  <a href="#">
		  <div class="catlistimg">
			<img src="../../../../assets/Images/product1.png" alt="product" />
		  </div>
		  <h4 class="colordark font15 weight500 mt-3">Infi Blood Pressure Monitor</h4>
		  </a>
			
		  <a href="#">
		  <div class="color707 font16 mt-3" data-bs-toggle="modal" data-bs-target="#allmodal">Request for Price</div>
		  </a>
		
		  <div class="mt-3">
		   <button class="w-100 btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#allmodal">Get Best Price</button>	
		  </div>
		  
		</div>
		</a>
		</div>
		  
      </div>
  </section>
	  
  <section class="mt-5 prodecription">
	  <ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item">
		<a class="nav-link active" data-bs-toggle="tab" role="tab" aria-controls="home" href="#prodtl">Prodcut Details</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" data-bs-toggle="tab" role="tab" href="#cmplprfl">Company Profile</a>
	  </li>
	</ul>
	  
	<div class="tab-content catlistbg p-4">
	  <div class="tab-pane active" id="prodtl" role="tabpanel" aria-labelledby="details-tab">
       <div class="colordark">
		 <h4 class="font1-2rem">Description</h4>  
		 <p>The HEM-6161 makes it easy to monitor blood pressure while on-the-go. This basic model comes with cuff wrap guide and irregular heartbeat detection to ensure the monitor is used correctly.</p>
		</div>
		<div class="colordark pt-4">
		 <h4 class="font1-2rem">Specification</h4>  
		 <div class="d-flex border">
		  <div class="w-25 px-3 py-4 border-end">Brand</div>	
		  <div class="w-75 px-3 py-4">Omron</div>	
		 </div>
		</div>
	  </div>
		
	  <div class="tab-pane" id="cmplprfl" role="tabpanel" aria-labelledby="company-tab">
       <div class="colordark">
		 <h4 class="font1-2rem">Navyas Healing Hands Health Services</h4>  
		 <div class="py-2"><i class="bi bi-geo-alt font1-2rem pe-1"></i> Door No 10-13-511, Reddy &amp; Reddy Colony, Tirupati City, Tirupati - 517501 (Near ICICI Bank)</div>
		 <div class="py-2"><i class="bi bi-telephone font1-2rem pe-1"></i> <a href="#" class="color006">Show Phone Number</a></div>
		 <div class="py-2"><i class="bi bi-clock font1-2rem pe-1"></i> Available Now :Mon - Sun :- Open 24 Hrs</div>
		 <div class="py-2"><i class="bi bi-exclamation-triangle font1-2rem pe-1"></i> Hours and Services may be differ</div>
		 <div class="d-flex cmplyear p-4 rounded justify-content-between mt-3">
		   <div class="w-50">
		     <p class="weight600 m-0">Specialization</p>
			 <p class="m-0">Physiotherapist</p>
		   </div>
		   <div class="w-50">
		     <p class="weight600 m-0">Years of Experience</p>
			 <p class="m-0">05</p>
		   </div>
		 </div>
		</div>
	  </div>
		
	  </div>
  </section>  
	  
  </div>
  
  <aside class="prodLRight">
	<div class="catlistbg p-3">
		  <a href="#">
		  <div class="catlistimg">
			<img src="../../../../assets/Images/product1.png" alt="product" />
		  </div>
		  <h4 class="colordark font15 weight500 mt-3">Infi Blood Pressure Monitor</h4>
		  </a>
			
		  <a href="#">
			<div class="colordark font14 mt-3"><i class="bi bi-hand-thumbs-up-fill"></i> Navyas Healing Hands Hea...</div>
		  </a>
			
		  <a href="#">
		  <div class="colordark font14 mt-1">
		   <span class="pe-1"><img src="../../../../assets/Images/indya-flag.svg" alt="flag" /></span>	
		   <span class="border-end pe-1 font12">IND</span>	
		   <span class="">Tirupati</span>	
		  </div>
		  </a> 
			 
		  <a href="#">
		  <div class="color707 font16 mt-3" data-bs-toggle="modal" data-bs-target="#allmodal">Request for Price</div>
		  </a>
			
		  <a href="#">
		  <div class="colordark font14 mt-4 d-flex align-items-center">
		   <span class="pe-2"><img src="../../../../assets/Images/trusted.svg" alt="trusted" width="60" /></span>	
		   <span class="pe-2"><img src="../../../../assets/Images/verified.svg" alt="trusted" width="55" /></span>	
		   <span class="text-uppercase resultyear">27 yrs</span>	
		  </div>
		  </a>
		  
		  <div class="mt-3">
		   <button class="w-100 btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#allmodal">Contact Supplier</button>	
		   <button class="w-100 btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#allmodal">Get Best Price</button>	
		  </div>
		  
		</div>
  </aside>
	 
  </div>
</section>
</div>	


<app-footer></app-footer>