<app-header></app-header>


<div class="col-lg-2 px-3 boxMain">
    <div class="box1">
      <img src="../../../assets/Images/castrol_edge_engine_oil_5w_40_4l_16233363_0.jpg" class="d-block w-100"
        alt="image" />
    </div>
    <div class="box2">
      <img src="../../../assets/Images/Castrol_Automobile-Oil_1000440_1198.png" class="d-block w-100" alt="image" />
    </div>
  </div>
  <div class="col-lg-2 px-3 boxMain">
    <div class="box1">
      <img src="../../../assets/Images/castrol_edge_engine_oil_5w_40_4l_16233363_0.jpg" class="d-block w-100"
        alt="image" />
    </div>
    <div class="box2">
      <img src="../../../assets/Images/Castrol_Automobile-Oil_1000440_1198.png" class="d-block w-100" alt="image" />
    </div>
  </div>
  <div class="col-lg-2 px-3 boxMain">
    <div class="box1">
      <img src="../../../assets/Images/castrol_edge_engine_oil_5w_40_4l_16233363_0.jpg" class="d-block w-100"
        alt="image" />
    </div>
    <div class="box2">
      <img src="../../../assets/Images/Castrol_Automobile-Oil_1000440_1198.png" class="d-block w-100" alt="image" />
    </div>
  </div>
  <div class="col-lg-2 px-3 boxMain">
    <div class="box1">
      <img src="../../../assets/Images/castrol_edge_engine_oil_5w_40_4l_16233363_0.jpg" class="d-block w-100"
        alt="image" />
    </div>
    <div class="box2">
      <img src="../../../assets/Images/Castrol_Automobile-Oil_1000440_1198.png" class="d-block w-100" alt="image" />
    </div>
  </div>
  <div class="col-lg-2 px-3 boxMain">
    <div class="box1">
      <img src="../../../assets/Images/castrol_edge_engine_oil_5w_40_4l_16233363_0.jpg" class="d-block w-100"
        alt="image" />
    </div>
    <div class="box2">
      <img src="../../../assets/Images/Castrol_Automobile-Oil_1000440_1198.png" class="d-block w-100" alt="image" />
    </div>
  </div>

<app-footer></app-footer>