@charset "utf-8";
/* .boxMain {  border: 0.5px solid rgba(207, 206, 201, 0.842); width: 22%; border-radius: 12px; padding: 6px;}

.box1 {  overflow: hidden;}
.box1 img { transition: 0.5s all; }
.box1 img:hover { transform: scale(1.1); }
.product1{display: flex; justify-content: space-around; padding-left: 40px;}
.head{display: flex; justify-content: space-between; align-items: center;}


.product2{ max-width: 70%; width: 100%; margin: 0 auto; width: 9%;  }
.box2 { text-align: center; overflow: hidden; margin: 5px;}
.box2 img { transition: 0.5s all; }
.box2 img:hover { transform: scale(1.1); }
.btn1{margin-bottom: 10px;}
@media screen and (max-width: 600px) {
    .product1 {
      width: 100%;
    }}

    .filters {
        width: 200px;
        padding: 10px;
        background-color: #f2f2f2;
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
      }
      
      .filter-category, .filter-price {
        margin-bottom: 10px;
      }
      
      @media (max-width: 767px) {
        .filters {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      .filters, .sorting {
        width: 200px;
        padding: 10px;
        background-color: #f2f2f2;
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
      }
      
      @media (max-width: 767px) {
        .filters, .sorting {
          width: 100%;
          margin-bottom: 10px;
        }
      }
      
      .dropdown {
        position: relative;
        width: 230px;
        filter: url(#goo);
      }      

       .dropdown__face{
        background-color: #fff;
        padding: 20px;
        border-radius: 25px;
        display: block;
        position: relative;
       } */

       
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body { font-family: 'Roboto', sans-serif; }
a { color: #272535; text-decoration: none; }
img { max-width: 100%; }
*:focus { outline: none; }

.colordark { color: #374756 !important; }
.color707 { color: #707e8e !important; }
.color394 { color: #39444f !important; }
.color006 { color: #006cc4 !important; }
.color97a { color: #97a5ac; }
.font11 { font-size: 11px; }
.font12 { font-size: 12px; }
.font13 { font-size: 13px; }
.font14 { font-size: 14px; }
.font15 { font-size: 15px; }
.font16 { font-size: 16px; }
.font1-2rem { font-size: 1.2rem; }
.font1-3rem { font-size: 1.3rem; }
.font1-4rem { font-size: 1.4rem; }
.font1-5rem { font-size: 1.5rem; }
.font1-6rem { font-size: 1.6rem; }

.weight500 { font-weight: 500; }
.weight600 { font-weight: 600; }
.weight700 { font-weight: 700; }

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: 98%; }

.scrollup { position: fixed; bottom: 1rem; right: 2rem; display: none; color: #374756; font-size: 2rem; text-align: center; z-index: 99999; width: 40px; height: 40px; border-radius: 50%; line-height: 40px; }


.logo { max-width: 170px; width: 100%; }
.searchMain { border: 1px solid #788798; -webkit-flex: 1 1 100%; -ms-flex: 1 1 100%; flex: 1 1 100%; border-radius: 50px; }
.srcAll { padding: 10px 3rem 10px 1.5rem; font-weight: 600; font-size: 16px; color: #414e5a; }
.srcIcon { font-size: 1.2rem; right: 10px; top: 0; cursor: pointer; padding: 11px; }
.headbox { box-shadow: 0 2px 3px 0 rgb(0 0 0 / 8%); }
.headfixed { position: sticky; position: -webkit-sticky; inset: 0; z-index: 9; }
.headRight { padding-left: 4rem; }
.headlink { padding: 0 10px; line-height: 1.4; white-space: nowrap; cursor: pointer; position: relative; }
.headlink:hover { color: #374756; }
.headicons { width: 30px; height: 30px; }

.srcopenbox { position: absolute; top: 45px; left: 0; background: #fff; box-shadow: 0 17px 20px 0 rgb(0 0 0 / 14%); width: 100%; z-index: 9; padding: 1rem; border-radius: 0 0 22px 22px; transition: all 0.3s ease-in-out; }
.srcopencnt { display: flex; flex-wrap: wrap; }
.srcopencnt a { background: #f2f3f7; border: solid 1px #f2f3f7; padding: 10px; border-radius: 4px; margin: 5px; font-size: 14px; }
.usericon:hover .profileMain { display: block; }
.profileMain { min-width: 265px; position: absolute; top: 45px; right: 0; z-index: 9; text-align: left; display: none; padding-top: 1.5rem; }
.profileBox { background: #fff; box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%); padding: 20px; border-radius: 10px; }
.profile_logbtn { border-radius: 8px; background-color: #006cc4; text-align: center; width: 100%; color: #fff; border: none; padding: 10px; }
.profileLink a { display: block; font-size: 14px; color: #39444f; padding: 10px 0; }
.profileLink a i { width: 35px; margin-right: 10px; }

/*.selectBox * { scrollbar-width: auto; scrollbar-color: #dcdcdc #ffffff; }*/
.selectBox *::-webkit-scrollbar { width: 8px; }
.selectBox *::-webkit-scrollbar-track { background: #ffffff; }
.selectBox *::-webkit-scrollbar-thumb { background-color: #dcdcdc; border-radius: 10px; }

.selectBox { border-right: 1px solid #788798; position: relative; padding: 10px 24px; cursor: pointer; width: 215px; }
.selectBox__value { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block;color: #1c2a3b; font-weight: 600; }
.selectBox:after { position: absolute; right: 12px; top: 50%; transform: translateY(-50%) rotate(0deg); transition: all 0.2s ease-in-out;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.001' height='8.165' viewBox='0 0 14.001 8.165'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23212121;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M13.861,60.224l-.7-.7a.441.441,0,0,0-.645,0L7,65.036,1.487,59.522a.441.441,0,0,0-.645,0l-.7.7a.441.441,0,0,0,0,.645l6.537,6.538a.441.441,0,0,0,.645,0l6.538-6.538a.442.442,0,0,0,0-.645Z' transform='translate(0 -59.382)'/%3E%3C/svg%3E"); }

.selectBox .dropdown-menu { transition: all 0.5s ease-in-out; opacity: 0; display: block; top: 50px; width: 100%; max-height: 350px; overflow-y: auto; transform: translateY(-15%); visibility: hidden; border-radius: 0 0 12px 12px; padding: 0; left: 0; border: none; }
/*.selectBox.show { background-color: #fff; }*/
.selectBox.show:after { transform: translateY(-50%) rotate(180deg); }
.selectBox .dropdown-item { color: #414e5a; padding: 1rem 2rem; border-bottom: 1px solid #f0f3f5; }
.selectBox.show .dropdown-item { color: #414e5a; padding: 1rem 2rem; border-bottom: 1px solid #f0f3f5; }
.selectBox.show .dropdown-menu { transition: all 0.3s ease-in-out; visibility: visible; opacity: 1; z-index: 3; left: 0; border: none; transform: translateY(0); box-shadow: 0 17px 20px 0 rgb(0 0 0 / 14%); }
.selectBox .dropdown-item.active, .dropdown-item:active { background-color: #f0f3f5; color: #414e5a; padding: 1rem 2rem; }

.homecard { border-radius: 10px; border: solid 1px #f2f5f8; box-shadow: 0 0 10px 0 rgb(0 0 0 / 4%); }
.marketCard { width: calc((100% / 5) - 6px); }
.marketCard2 { width: calc((100% / 6) - 16px); }
.marketCard3 { width: calc((100% / 5) - 10px); }
.madicalSupply { width: calc((100% / 8) - 17.5px); }
.madicalSupply:nth-child(8n+1) { background: #f6eec5; }
.madicalSupply:nth-child(8n+2) { background: #f6eec5; }
.madicalSupply:nth-child(8n+3) { background: #f6eec5; }
.madicalSupply:nth-child(8n+4) { background: #f6eec5; }
.madicalSupply:nth-child(8n+5) { background: #f6eec5; }
.madicalSupply:nth-child(8n+6) { background: #f6eec5; }
.madicalSupply:nth-child(8n+7) { background: #f6eec5; }
.madicalSupply:nth-child(8n+8) { background: #f6eec5; }

.marketCardimg { background: #f1f4f9; border-radius: 5px; }
.marketCardimg img { width: 100%; object-fit: cover; transform: scale(1); transition: transform 1.25s cubic-bezier(.165,.84,.44,1),-webkit-transform 1.25s cubic-bezier(.165,.84,.44,1); }
.marketCardimg img:hover { transform: scale(1.1); }

/*---`NAVIGATION START---*/
.navMain { border-top: 1px solid #efefef; }
.navbar { padding: 0; }
.navbar-expand-lg .navbar-nav .nav-link { color: #21282e; font-size: 15px; padding: 0.7rem 0.8rem; font-weight: 500; white-space: nowrap; }
.navbar-expand-lg .navbar-nav .nav-link:hover { color: #006cc4;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { color: #002D78 !important; background: #f2f2f2 !important; -webkit-transition: 0.4s ease-in; -moz-transition: 0.4s ease-in; -ms-transition: 0.4s ease-in; -o-transition: 0.4s ease-in; }
.fadeMenu { animation-name: fadeMenu; -webkit-animation-name: fadeMenu; }

@keyframes fadeMenu {
  0% { opacity: 0; -webkit-transform:translateY(20px); -ms-transform:translateY(20px); transform:translateY(20px); }
  100% { opacity: 1; -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0); }	
}
@-webkit-keyframes fadeMenu {
  0% { opacity: 0; -webkit-transform:translateY(20px); -ms-transform:translateY(20px); transform:translateY(20px); }
  100% { opacity: 1; -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0); }	
}
.dropdown:hover .dropdown-menu { display: block; animation: fadeMenu 500ms; -webkit-animation: fadeMenu 500ms; border: none; box-shadow: 0 5px 5px #f0f0f0; font-size: 14px; padding: 0; }
.dropdown-toggle::after { display: none !important; }
.navbar-expand-lg .navbar-nav .dropdown-item { padding: 0.6rem 0.8rem; }
/*---NAVIGATION END---*/

.allcateg { border-right: 1px solid #efefef; display: flex; align-items: center; }
.allcateg a { color: #21282e; font-size: 15px; padding: 0.5rem 0.8rem 0.5rem 0; font-weight: 500; white-space: nowrap; display: flex; align-items: center; }

.foterBox { background-color: #f3faff; }
.ftrlink { background-color: #d8e2eb; padding: 0 10px; }
.ftrlink a { padding: 0 10px; }

.modal-header .btn-close { position: absolute; right: 1rem; top: 1.2rem; }
.rightfixedbtn { position: fixed; bottom: calc(100% - 60%); right: 19px; z-index: 9; transform: rotate(-90deg) translate3d(112px,0,0); width: 0; display: flex; align-items: flex-end; white-space: nowrap; flex-direction: row-reverse; }
.catalogBtn { background: #fe610c; border-radius: 10px 10px 0 0; color: #fff; padding: 7px 1rem; cursor: pointer; text-align: center; }
.postrequirBtn { background: #0d60ad; border-radius: 10px 10px 0 0; color: #fff; padding: 7px 1rem; cursor: pointer; text-align: center; margin-right: 10px; }

/*--CATEGORY CSS START--*/
.pageContainer { background: #f2f5f8; -webkit-transition: background 1s ease; transition: background 1s ease; padding: 1rem; }
.catgLeft { max-width: 260px; width: 100%; padding: 10px; }
.catgLeft .accordion-item { margin-bottom: 10px; border-radius: 10px; box-shadow: rgb(0 0 0 / 3%) 0px 0px 10px 0px; border: none; }
.catgLeft .accordion-button { border: none; border-radius: 10px; color: #788798; font-size: 15px; }
.catgLeft .accordion-button:not(.collapsed) { border: none; background: #fff; color: #788798; box-shadow: none; }
.catgLeft .accordion-item:last-of-type .accordion-button.collapsed { border: none; box-shadow: none; border-radius: 10px; }
.catgLeft .form-check-input { width: 18px; height: 18px; margin-right: 10px; }
.catgLeft .form-check-input:checked { background-color: #006cc4; border-color: #006cc4; }
.catgLeft .form-check { color: #414e5a; font-size: 14px; margin-bottom: 5px; line-height: 1.9; }
.catgLeft .accordion-body { padding-top: 0; }
.catgLeft .form-check-input[type=checkbox] { border-radius: 0.2em; }
.catgLeft .accordion-button::after { content: "\f078"; font-family: FontAwesome; background-image: none; transform: rotate(0); font-size: 13px; line-height: 1.5; text-align: right; }
.catgLeft .accordion-button:not(.collapsed)::after { content: "\f077"; }
.catgRight { width: 100%; }
.catlist { position: relative; width: 25%; padding: 10px; }
.catlistbg { box-shadow: rgb(0 0 0 / 3%) 0px 0px 10px 0px; border: 1px solid rgb(242, 245, 248); background: #fff; border-radius: 10px; }
.catlistimg { background: #f7f7f7; overflow: hidden; }
.catlistimg img { transform: scale(1); transition: transform 1.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 1.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.catlistimg img:hover { transform: scale(1.1); }
.resultyear { padding: 1px 7px; border: 1px solid rgb(240, 243, 245); background: rgb(240, 243, 245); cursor: pointer; border-radius: 20px; line-height: 18px; font-size: 10px; font-weight: 600; white-space: nowrap; }
.citysrcmain { }
.citysrc { padding: 0 20px; position: relative; }
.citysrc .fa-search { top: 9px; right: 30px; }
.citysearch { height: 270px; overflow: auto; }
.citysearch .list-group-item { font-size: 15px; color: #374756; padding: 10px 20px; }
.citysearch small { padding: 10px 20px; }
.citysearch::-webkit-scrollbar { width: 8px; }
.citysearch::-webkit-scrollbar-track { background: #ffffff; }
.citysearch::-webkit-scrollbar-thumb { background-color: #dcdcdc; border-radius: 10px; }
.btn-outline-primary { color: #006cc4; }
.btn-primary { background-color: #006cc4; border-color: #006cc4; }
.btn:hover { background-color: #006cc4; border-color: #006cc4; }
.detectcity h6 { padding: 0 20px; cursor: pointer; }
/*--CATEGORY CSS END--*/

/*---PRODUCT PAGE CSS---*/
.prodLRight { max-width: 300px; width: 100%; padding: 10px;  }
.prodLeft { width: 80%; padding: 10px; }
.prodimg { max-width: 400px; width: 100%; }
.prodItem img { width: 100%; }
.prodText { padding: 0 0 0 4rem; }
.prodSlider .owl-carousel .owl-nav button.owl-prev { top: 32%; border-radius: 3px; padding: 5px !important; font-size: 20px; width: 20px; height: 30px; display: flex; align-items: center; justify-content: center; }
.prodSlider .owl-carousel .owl-nav button.owl-next { top: 32%; border-radius: 3px; padding: 5px !important; font-size: 20px; width: 20px; height: 30px; display: flex; align-items: center; justify-content: center; }

.proshopslider .owl-carousel .owl-nav button.owl-prev { top: -3rem; border-radius: 0 3px 3px 0; padding: 5px !important; font-size: 15px; width: 25px; height: 25px; display: flex; align-items: center; justify-content: center; background: #bababa; color: #fff; }
.proshopslider .owl-carousel .owl-nav button.owl-next { left: inherit; right: 2rem; top: -3rem; border-radius: 3px 0 0 3px; padding: 5px !important; font-size: 15px; width: 25px; height: 25px; display: flex; align-items: center; justify-content: center; background: #bababa; color: #fff; }
.proshopslider .owl-carousel .owl-nav button.owl-prev.disabled,.proshopslider .owl-carousel .owl-nav button.owl-next.disabled { background: #e1e1e1; }
.cmplyear { background: rgba(240,243,245,0.5); }
.prodecription .tab-content { border-top-left-radius: 0; }
.prodecription .nav-tabs { border: none; padding-left: 1px; align-items: flex-end; }
.prodecription .nav-link { font-weight: 600; font-size: 20px; padding: 1rem 1.5rem; border: none; background: #fbfbfb; color: #111; margin: 0 10px -1px 0; }
.prodecription .nav-link:hover { border: none; color: #0076d7; }
.prodecription .nav-link:focus { border: none; color: #0076d7; }
.prodecription .nav-link.active { font-size: 22px; border: none; color: #0076d7; padding: 1.3rem 1.5rem; margin: 0 10px -5px 0; }

@media only screen and (min-width : 992px) and (max-width : 1300px) {
.navbar-expand-lg .navbar-nav .nav-link { font-size: 14px; }
.marketCard { padding-bottom: 10px; }
.marketCard2 { width: calc((100% / 5) - 0px); margin-bottom: 20px; }
.madicalSupply { width: calc((100% / 5) - 0px); margin-bottom: 20px; }
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
.headfixed { position: inherit; position: -webkit-inherit; }
.logo { max-width: 100%; text-align: center; margin-bottom: 15px; }
.headRight { padding-left: 0; margin-top: 15px; }
.headlink { align-items: center; }
.profileMain { top: 23px; }
.navbar-expand-lg .navbar-nav .nav-link { font-size: 14px; }
.navbar-toggler { border: none; padding: 0 0 0 10px; }
.navbar-toggler:focus { box-shadow: none; }
.navbar-collapse { position: absolute; background: #fff; top: 38px; left: 0; box-shadow: 0 5px 25px #ddd; border-radius: 10px; z-index: 5; }
.marketCard { padding-bottom: 10px; }
.marketCard2 { width: calc((100% / 5) - 0px); margin-bottom: 20px; }
.madicalSupply { width: calc((100% / 5) - 0px); margin-bottom: 20px; }
.ftrlink { text-align: center; }
.owl-carousel .owl-nav button.owl-next { font-size: 1.2rem; }
.owl-carousel .owl-nav button.owl-prev { font-size: 1.2rem; }
	
.pageContainer { padding: 10px 5px; }
.catgLeft { max-width: 100%; padding: 5px; }
.catgLeft .accordion-item { width: 49%; }
.catlist { width: 50%; padding: 5px; }
.catgLeft .accordion { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; }
	
.prodLeft { width: 70%; }
.prodimg { max-width: 100%; }
.prodText { padding: 2rem 0 0 0; }
}

@media all and (max-width : 767px) { 
.headfixed { position: inherit; position: -webkit-inherit; }
.logo { max-width: 100%; text-align: center; margin-bottom: 15px; }
.headRight { padding-left: 0; margin-top: 15px; }
.headlink { align-items: center; }
.profileMain { top: 23px; }
.navbar-expand-lg .navbar-nav .nav-link { font-size: 14px; }
.navbar-toggler { border: none; padding: 0 0 0 10px; }
.navbar-toggler:focus { box-shadow: none; }
.navbar-collapse { position: absolute; background: #fff; top: 38px; left: 0; box-shadow: 0 5px 25px #ddd; border-radius: 10px; z-index: 5; }
	
.marketCard { padding-bottom: 10px; }
.marketCard2 { width: 42%; margin-bottom: 20px; }
.madicalSupply { width: 42%; margin-bottom: 20px; }
.marketCard3 { width: 49%; margin-bottom: 20px; }
.ftrlink { text-align: center; }
.owl-carousel .owl-nav button.owl-next { font-size: 1.2rem; }
.owl-carousel .owl-nav button.owl-prev { font-size: 1.2rem; }
.rightfixedbtn { position: fixed; bottom: calc(100% - 40%); }
	
.pageContainer { padding: 10px 5px; }
.catgLeft { max-width: 100%; padding: 5px; }
.catgLeft .accordion-item { width: 49%; }
.catlist { width: 50%; padding: 5px; }
.catgLeft .accordion { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; }
	
.prodLeft { width: 100%; }
.prodimg { max-width: 100%; }
.prodText { padding: 2rem 0 0 0; }
.prodecription .nav-link { font-size: 16px; }
.prodecription .nav-link.active { font-size: 18px; }
}

