<section></section>

<footer class="footer-distributed">
	<div >
		<div class="d-flex justify-content-center tagline mb-3 text-white">Trade Alert - Delivering the latest product trends and industry news straight to your
			inbox.</div>
		<div class="subscribe mb-3">
			<div class="d-flex justify-content-center">
				<input type="email" class="mx-1" [ngStyle]="{'width':'20%','height':'35px', 'margin-top':'6px'}" placeholder="Your Email" />
				<button class="btn btn-outline-secondary btn-lg" [ngStyle]="{'color': 'white','border-color': 'white'}">Subscribe</button>
			</div>
			<div class="d-flex justify-content-center text-white" [ngStyle]="{'font-size':'12px'}">
				<i>We'll never share your email address with a third-party.</i>
			</div>
		</div>
	</div>
	<hr class="thick-line my-3">
	<div class="footer-left">
		<h3>Tweecom<span>logo</span></h3>
		<p class="footer-links">
			<a href="#" class="link-1">Home</a>
			<a routerLink="/aboutUs">About</a>
			<a routerLink="/term">Privacy Policy</a>
			<a routerLink="/careers">Careers</a>
		</p>
		<p class="footer-company-name">Tweecom © Since 2022</p>
	</div>

	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>New ashok Nagar </span> 43/2 Block A </p>
		</div>
		<div>
			<i class="fa fa-phone"></i>
			<p>+91-9999999999</p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:support@company.com">Anish@Tweecom.com</a></p>
		</div>
	</div>

	<div class="footer-right">
		<p class="footer-company-about">
			<span>About the company</span>
			Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
			vehicula sit amet.
		</p>
		<div>
			<i class="fab fa-facebook"></i>
			<i class="pi pi-linkedin"></i>
		</div>
	</div>

</footer>


