<footer class="foterBox mt-5 pt-5">
	<div class="container color707">
	  <p class="font14">Creating an undisputed space for small and medium enterprises (SMEs) online, Justdial is India’s leading online B2B market place, seamlessly connecting buyers to dealers and suppliers. Simplifying the entire process of business, Justdial presents SMEs, large enterprises as well as individuals an unparalleled platform to showcase their products and services.</p>
  
	  <p class="font14">In today’s digital day and age, Justdial enables businesses with B2B marketing, B2B lead generation, promoting and selling B2B products and services and thereby reaching larger audiences. Among the most crucial B2B marketing strategies today is to go digital and that’s exactly what the company does. Be it for manufacturers, dealers, suppliers, vendors, wholesalers, etc. the processes are convenient and beneficial for one and all in the B2B market space.</p>
		
	  <div class="d-xl-flex d-lg-flex d-md-block d-sm-block py-4">
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
		  <h3 class="colordark font16">Benefits for Buyers</h3>
		  <ul class="font15 mt-3">
			<li>Get in touch with dealers and suppliers effortlessly</li>  
			<li class="mt-2">A wide range of products and services</li>  
		  </ul>
		</div>
		  
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
		  <h3 class="colordark font16">Benefits for Dealers and Suppliers</h3>
		  <ul class="font15 mt-3">
			<li>Amplify business visibility</li>  
			<li class="mt-2">Improve the reach of your business</li>  
			<li class="mt-2">Enhance your brand value</li>  
			<li class="mt-2">Generate brand credibility</li>  
		  </ul>
		</div>
	  </div>
	</div>
	  
	<div class="d-xl-flex d-lg-flex d-md-block d-sm-block ftrlink justify-content-between py-3 color707">
	  <div class="color707">
		<a href="#">About us</a>  
		<a href="#">Terms &amp; Conditions</a>  
		<a href="#">Privacy Policy</a>  
		<a href="#">Careers</a>  
		<a href="#">Contact us</a>  
		<a href="#">FAQs</a>  
	  </div>
	  <div class="color394">
		  Twecom 2023. All Rights Reserved.
	  </div>
	</div>
  </footer>