<p>Sign-Up</p>
<div class="ui-dialog-inner-content">
    <form [formGroup]="loginForm" class="md-form">
      <!-- <p-message severity="error"
      text="ADP ID entered with this Period is already present for the same month."
      *ngIf="planCodeFlag"> {{hideMessage()}}
    </p-message> -->
      <div class="ui-g">

        <div class="ui-g-6">
          <div class="form-group">
            <label class="control-label">Role<span class="text-danger">*</span>:</label>
              <input type="radio" (click)="userOrSupplier('user')" value="user" formControlName="role"><span>  User</span>
              <input type="radio" (click)="userOrSupplier('supplier')" value="supplier" formControlName="role"><span>  Supplier</span>
          </div>
        </div>
        <div class="ui-g-6">
          <div class="form-group">
            <label class="control-label">Name<span class="text-danger">*</span>:</label>
            <input type="text" pInputText formControlName="name" placeholder="Enter your Name">
          </div>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-6">
          <div class="form-group">
            <label class="control-label">Mobile Number<span class="text-danger">*</span>: +91 </label>
            <input type="number" pInputText formControlName="mobileNumber"
            placeholder="Enter Mobile Number">
          </div>
        </div>
        <div class="ui-g-6">
          <div class="form-group">
            <label class="control-label">E-mail :</label>
            <input type="email"  pInputText formControlName="email" placeholder="E-mail">

          </div>
        </div>
 
      </div>
      <div class="ui-g">
        <div class="ui-g-6">
          <div class="form-group">
            <label class="control-label">Password<span class="text-danger">*</span>:</label>
            <input type="password" pInputText formControlName="password" placeholder="Create a hard password">
          </div>
        </div>        
        <div class="ui-g-6">
          <div class="form-group">
            <label class="control-label">Confirm Password<span class="text-danger">*</span>:</label>
            <input type="password" pInputText formControlName="confirmPassword" placeholder="Same as above">
          </div>
        </div>
        <div class="ui-g-6" *ngIf="typeOfAccount">
          <div class="form-group">
            <label class="control-label">City <span class="text-danger">*</span>:</label>
            <input type="text" pInputText formControlName="city" placeholder="City">
          </div>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-6" *ngIf="typeOfAccount">
          <div class="form-group">
            <label class="control-label">Pincode<span class="text-danger">*</span>
              :</label>
            <input type="number" pInputText formControlName="pincode" placeholder="Enter your Pin-Code">
          </div>
        </div>
        <div class="ui-g-6" *ngIf="typeOfAccount">
          <div class="form-group">
            <label class="control-label">Contact Person Name <span class="text-danger">*</span>:</label>
            <input type="text" pInputText formControlName="contactPersonName" placeholder="whom to contact, If needed anything">
          </div>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-6" *ngIf="typeOfAccount">
          <div class="form-group">
            <label class="control-label">GST :</label>
            <!-- <p-dropdown *ngIf="data?.mode == 'add'" [options]="currencyList"
              formControlName="worker">
            </p-dropdown> -->
            <input type="text" pInputText formControlName="gst" placeholder="Enter your GST number">
          </div>
        </div>
        <div class="ui-g-6" *ngIf="typeOfAccount">
          <div class="form-group">
            <label class="control-label">Firm Name <span class="text-danger">*</span>:</label>
            <input type="text" pInputText formControlName="firmName" placeholder="Company Name">
          </div>
        </div>
      </div>
      <!-- <p-message severity="error" [text]="'Please ensure that the Source Currency and Target Currency are not equal'"
        *ngIf="vieUpdateForm.errors?.dateValidationFlag"></p-message> -->
    </form>
    <footer>
      <!-- <span class="pull-left">
        <button pButton type="button" icon="pi pi-times" (click)="" label="Cancel"
          class="ui-button-warning"></button>
      </span> icon="pi pi-check"  class="ui-button-info"-->
      <button type="button"  label="Continue" (click)="submit()" [disabled]="!loginForm.valid">Continue</button>
      <!-- <button pButton type="button" icon="pi pi-times"  label="Cancel" class="ui-button-danger"></button> -->
    </footer>
  </div>
