<div class="loading-indicator" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>
<div style="padding: 100px;">
<p-toast position="top-right"></p-toast>
<div class="card text-center center">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your phone number and follow instructions to reset your password.
        </p>
        <form [formGroup]="resetForm" method="post" *ngIf="!enableOTP">
            <div class="phoneDiv" >
                <div class="form-outline">
            
                    <span><i class="pi pi-phone color-blue"></i></span>
                    <span><input type="number" class="form-control my-3" formControlName="phoneNumber" placeholder="Mobile Number"/></span>
                </div>
                <input type="submit" class="btn btn-primary w-100" (click)="resetPassword()" value="Reset password" />
            </div>
        </form> 
        <form [formGroup]="otpForm" method="post" *ngIf="enableOTP">
            <div class="otpDiv" >
                <div class="form-outline">
                    <span>+91-{{phoneNumber}}</span><span><button class="pi pi-user-edit color-blue" (click)="editPhoneNo()"></button></span>
                    <span><input type="number" class="form-control my-3"  placeholder="Enter OTP" formControlName="otp"/></span>
                    <input type="password" class="form-control my-3" placeholder="Enter New Password" formControlName="password"/>
                    <input type="password" class="form-control my-3" placeholder="Confirm Password" formControlName="confirmPassword"/>
                </div>
                <input type="submit" class="btn btn-primary w-100" (click)="verifyPassword()" value="Verify & Reset" />
            </div>
        </form>
        <div class="d-flex justify-content-between mt-4">
            <a routerLink="/auth/login" >Login</a>
            <a routerLink="/auth/register">Register</a>
        </div>
    </div>
</div>
</div>