/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/primeng/resources/themes/saga-orange/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";

input.ng-dirty.ng-invalid{
  border: 2px solid #a80000;
}
.loading-indicator{position:fixed; z-index:999; height:2em; width:2em; overflow:show; margin:auto; top:0; left:0; bottom:0; right:0;}
/* Transparent Overlay */
.loading-indicator:before{content:''; display:block; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.53);}
