 

 /* Height for devices larger than 576px */
 @media (min-width: 992px) {
   
   #introCarousel,
   .carousel-inner,
   .carousel-item,
   .carousel-item.active {
     height: 50vh;
   }
 }

 .navbar .nav-link {
   color: #fff !important;
 }

 .career-form{
    background-color: rgb(255, 255, 255);
 }